.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.table {
    table-layout: fixed;
    width: 624px;
    font-size: 16px;
    font-family: serif, sans-serif, Georgia;   
}

td, th {
    padding: 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.td1 {
    width: 3%;
    padding: 15px 20px;
}

.field {
    width: 596px;
    background-color: white;
    outline: 2px solid lightgrey;
    padding: 10px 10px;
    margin-top: 10px;
    color: white;
}

input {
    margin: 0;
    border: none;
    width: 45%;
    padding: 10px;
    float: left;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.addBtn {
    position: absolute;
    margin: -4px 0 0 0;
    padding: 13px 30px;
    margin-left: 3px;
    background: green;
    color: white;
    text-align: center;
    /* float: left; */
    cursor: pointer;
    border-radius: 5px;
}
  
.addBtn:hover {
    background-color: darkgreen;
}

.addText {
    vertical-align: middle;
    /* line-height: 20px; */
    font-family: 'Noto Sans';
    font-size: 20px;
}
.getColor {
    margin-top: 10px;
    margin-left: 3px;
    padding: 2%;
    vertical-align: middle;
    float: left;
    cursor: pointer;
    border-radius: 5px;
}

#redColor {
    background: red;
}

#redColor:hover {
    outline: 2px solid red;
    -moz-outline-radius: 7px;
}

#orangeColor {
    background: orange;
}

#orangeColor:hover {
    outline: 2px solid orange;
    -moz-outline-radius: 7px;
}

#greenColor {
    background: green;
}

#greenColor:hover {
    outline: 2px solid green;
    -moz-outline-radius: 7px;
}

#lightblueColor {
    background: lightblue;
}

#lightblueColor:hover {
    outline: 2px solid lightblue;
    -moz-outline-radius: 7px;
}

#yelowColor {
    background: yellow
}

#yellowColor:hover {
    outline: 2px solid yellow;
    -moz-outline-radius: 7px;
}

#blueColor {
    background: blue;
}

#blueColor:hover {
    outline: 2px solid blue;
    -moz-outline-radius: 7px;
}

#violetColor {
    background: darkmagenta;
}

#violetColor:hover {
    outline: 2px solid darkmagenta;
    -moz-outline-radius: 7px;
}
